.wrapper {
    max-width: 900px;
    margin: 0 auto;
    background: rgb(75, 63, 63);
    border: 3px solid rgb(194, 161, 161);
}
.slider {
    border: 2px solid black;
    /* width: 100%; */
    max-width: 80%;
    /* height: 300px; */
    margin: 20px auto;
    overflow: hidden;
}
.slider__img {
    display: flex;
    background: orange;
    /*position: relative;
    left: 0;*/
    transition: all ease 1s;
}
.slider__btn {
}
.prev {
}
.next {
}